/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




:root {
  --bg-blue: #e9f5ff;
  --bg-pink: #fff0f6;
  --card-bg: rgba(255,255,255,0.9);
  --border: #e5e7eb;
  --text: #0f172a;
  --muted: #6b7280;
  --primary: #3b82f6;
  --primary-600: #2563eb;
  --accent: #f472b6;
  --shadow: 0 10px 30px rgba(15, 23, 42, 0.08);
  --radius: 16px;
}

.leaflet-container { height: 100%; width: 100%; }
.leaflet-div-icon, .leaflet-marker-icon, .leaflet-marker-shadow { pointer-events: auto; }

.leaflet-popup-content {
  margin: 8px 12px;
}

.leaflet-popup-content .kp-popup img {
  display: block;
  max-width: 220px;   /* ⬅ ograniči širinu */
  max-height: 160px;  /* ⬅ ograniči visinu */
  width: auto;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 8px;
}

.leaflet-popup-content .kp-popup h4 { margin: 0 0 6px; font-size: 14px; }
.leaflet-popup-content .kp-popup p  { margin: 0;      font-size: 13px; line-height: 1.35; }
