<!-- Prikaz komentara -->
<div *ngIf="comments.length > 0" class="comment-box">
  <h3>Comments</h3>
  <div class="comment-scroll">
    <div *ngFor="let comment of comments; let i = index" [class.hidden-comment]="i >= 3" class="comment-item">
      <div class="comment-meta">
    <strong>User {{ comment.authorId }}:</strong>
    <span class="timestamp">{{ comment.createdAt | date: 'short' }}</span>
  </div>
      <p>{{ comment.content }}</p>
    </div>
    <div *ngIf="comments.length > 3" class="more-comments">
    </div>
  </div>
</div>

<!-- Forma za unos komentara -->
<form (submit)="postComment(); $event.preventDefault();">
  <label for="comment">Add comment:</label>
  <textarea [(ngModel)]="commentText" name="comment" required rows="4" placeholder="Write your comment here..."></textarea>
  <button type="submit">Post comment</button>
</form>
