<h2>Blogovi</h2>

<div *ngIf="blogs.length === 0">Nema blogova.</div>

<div *ngFor="let blog of blogs" style="margin-bottom: 30px; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
  <h3>{{ blog.title }}</h3>
  <div><markdown [data]="blog.content"></markdown></div>

  <div *ngIf="blog.imagePaths && blog.imagePaths.length > 0">
    <h4>Slike:</h4>
    <img *ngFor="let imgPath of blog.imagePaths" 
         [src]="'http://localhost:8081' + imgPath" 
         width="150" 
         style="margin: 5px;" 
         alt="Blog image" />
  </div>
</div>