<div class="sim-grid">
  <aside class="info">
    <h3>Current location</h3>

    <div class="row">
      <label>Latitude</label>
      <div>{{ lastLatLng?.lat | number:'1.6-6' || '—' }}</div>
    </div>

    <div class="row">
      <label>Longitude</label>
      <div>{{ lastLatLng?.lng | number:'1.6-6' || '—' }}</div>
    </div>

    <div class="row">
      <label>City</label>
      <div>{{ address?.city || address?.town || address?.village || '—' }}</div>
    </div>

    <div class="row">
      <label>Address</label>
      <div>
        {{ address?.road ? (address.road + (address.house_number ? ' ' + address.house_number : '')) : '—' }}
      </div>
    </div>


     <!-- ⬇️ INFO O TURI -->
    <ng-container *ngIf="isActive && currentTour as t">
      <hr />
      <h3>Active tour</h3>

      <div class="row">
        <label>Name</label>
        <div>{{ t.name }}</div>
      </div>

      <div class="row">
        <label>Difficulty</label>
        <div>{{ t.difficulty || '—' }}</div>
      </div>

      <div class="row">
        <label>Length</label>
        <div>{{ t.lengthInKm ?? '—' }} <span *ngIf="t.lengthInKm !== undefined">km</span></div>
      </div>

      

      <div class="row" *ngIf="t.tags?.length">
        <label>Tags</label>
        <div class="chips">
          <mat-chip-set>
            <mat-chip *ngFor="let tag of t.tags" disabled>{{ tagLabel(tag) }}</mat-chip>
          </mat-chip-set>
        </div>
      </div>
    </ng-container>

  <div class="row" *ngIf="isActive && currentExecution">
    <button mat-raised-button color="warn" (click)="abandonTour(currentExecution.id!)">
      Abandon Tour
    </button>
  </div>

  </aside>

  <section class="map-wrap">
    <xp-map
      *ngIf="showMap"
      [center]="defaultCenter"
      [zoom]="13"
      [initialMarker]="initialMarker"
      (mapClick)="onMapClick($event)">
    </xp-map>
  </section>
</div>
