/* Kontejner */
.shopping-cart-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  align-items: center;
}

.cart-title {
  margin-top: 30px;
}

.items-count {
  background-color: #f1f1f1;
  color: #333;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 12px;
  margin-left: 10px;
}

/* Lista tura */
.cart-items-scroll {
  overflow-y: auto;
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Kartice */
.cart-item-card {
  width: 280px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 20px;
  justify-content: flex-start;
  position: relative;
  box-shadow: 0 10px 20px rgba(162, 0, 255, 0.3);
}

.cart-item {
  border-radius: 40px;
}

.tour-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  margin-top: 10px;
  z-index: 1;
}

.tour-info-left h3 {
  font-size: 20px;
  font-weight: 600;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Dugme za brisanje */
.action-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  z-index: 2;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Cena */
.price-container {
  margin-top: auto;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  color: #333;
}

/* Footer */
.cart-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 12px 20px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  justify-content: flex-end; /* sve ide desno */
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 40px; /* pomeri sve malo ulevo */
}

.total-price {
  font-size: 16px;
  font-weight: bold;
}

.divider {
  height: 20px;
  width: 1px;
  background-color: #ccc;
}

.checkout {
  font-size: 14px;     
  height: 36px;        
  min-width: 80px;     
  padding: 0 12px;    
}


